.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  align-items: center;
  justify-content: space-evenly;
}

.card{
  width: 300px;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 gray;
}
.card img{
  width: 300px;
}